body {
  position: relative;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

header {
  position: fixed;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: palevioletred;
  z-index: 10;
}
header .logo {
  left: 10px;
  font-size: 50px;
  color: white;
  position: relative;
}
header .menu-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
}
header .menu-button .bar-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
header .menu-button .bar-container .bar-margin {
  height: 15px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu-button .bar-container .bar-margin .bar {
  width: 30px;
  height: 2px;
  background-color: white;
}

.main {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.main .top-page {
  padding-top: 120px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.main .top-page .top-image {
  width: 50vh;
  min-width: 50vw;
  max-width: 70vw;
  height: 50vw;
  min-height: 20vh;
  max-height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  border-radius: 25px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  display: none;
}
.main .top-page .top-right {
  left: 5vw;
}
.main .top-page .top-left {
  right: 5vw;
  top: 40vh;
}
.main .top-page .top-slogan-box {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 3vh;
  background-color: palevioletred;
  display: none;
  flex-flow: column;
  justify-content: space-around;
}
.main .top-page .top-slogan-box .top-slogan {
  position: relative;
  color: white;
  font-size: 30px;
  text-align: center;
}
.main .top-page .top-slogan-box .top-history {
  position: relative;
  color: white;
  font-size: 20px;
  margin: 10px 20px;
  font-kerning: normal;
  text-align: justify;
}
.main .recent-page {
  width: 100vw;
  height: fit-contet;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main .recent-page .page-title {
  color: white;
  font-size: 50px;
  background-color: palevioletred;
  width: 300px;
  text-align: center;
}
.main .recent-page .article {
  width: 500px;
  height: 300px;
  margin: 10px;
  background-color: pink;
  border-radius: 25px;
  color: white;
  position: relative;
  overflow: hidden;
}
.main .recent-page .article .thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 25px;
}
.main .recent-page .article .title {
  position: absolute;
  bottom: 50px;
  font-size: 40px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 10px;
  background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.2823529412) 10%);
}
.main .recent-page .article .content {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  height: 30px;
  left: 10px;
  bottom: 20px;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.2823529412) 10%);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.main .article-bg {
  background-color: rgba(0, 0, 0, 0.224);
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.main .article-bg .article-detail {
  background-color: antiquewhite;
  width: 90vw;
  height: 80vh;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main .article-bg .article-detail .article-thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  width: 500px;
  max-width: 80vw;
  height: 400px;
  max-height: 40vh;
}
.main .article-bg .article-detail .article-title {
  font-size: 30px;
  text-align: center;
}
.main .article-bg .article-detail .article-content {
  white-space: pre-line;
}

.hidden {
  display: none;
}

.bg {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-color: pink;
}

.copyright {
  color: white;
  position: relative;
  top: 20px;
}/*# sourceMappingURL=style.css.map */