body {
    position: relative;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    // background-color: aqua;
}

header {
    position: fixed;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: palevioletred;
    z-index: 10;

    .logo {
        left: 10px;
        font-size: 50px;
        color: white;
        position: relative;
    }

    .menu-button {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;

        .bar-container {
            display: flex;
            flex-flow: column;
            justify-content: space-around;

            .bar-margin {
                height: 15px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                .bar {
                    width: 30px;
                    height: 2px;
                    background-color: white;
                }
            }
        }
    }
}

.main {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-flow: column;

    .top-page {
        padding-top: 120px;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content:space-between;
        position: relative;

        .top-image {
            width: 50vh;
            min-width: 50vw;
            max-width: 70vw;
            height: 50vw;
            min-height: 20vh;
            max-height: 30vh;
            object-fit: cover;
            // margin-top: 10px;
            position: relative;
            border-radius: 25px;
            box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        }

        .top-right {
            left: 5vw;
            // top: -10px
        }

        .top-left {
            right: 5vw;
            // bottom: 30px;
        }

        .top-slogan-box {
            width: 100vw;
            height: fit-content;
            position: relative;
            bottom: 3vh;
            background-color: palevioletred;
            display: flex;
            flex-flow: column;
            justify-content: space-around;

            .top-slogan {
                position: relative;
                color: white;
                font-size: 30px;
                text-align: center;
            }

            .top-history {
                position: relative;
                color: white;
                font-size: 20px;
                margin: 10px 20px;
                font-kerning: normal;
                text-align: justify;
                // font-feature-settings: "palt";
            }
        }
    }

    .recent-page {
        width: 100vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .page-title {
            color: white;
            font-size: 50px;
            background-color: palevioletred;
            width: 300px;
            text-align: center;
        }

        .article {
            width: 500px;
            height: 300px;
            margin: 10px;
            background-color: pink;
            border-radius: 25px;
            color: white;
            position: relative;
            overflow: hidden;

            .thumbnail {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                border-radius: 25px;
            }

            .title {
                position: absolute;
                bottom: 50px;
                font-size: 40px;
                text-align: center;
                width: fit-content;
                left: 10px;
                background: linear-gradient(transparent 40%, #00000048 10%);
            }

            .content {
                position: absolute;
                width: fit-content;
                max-width: 90%;
                height: 30px;
                left: 10px;
                bottom: 20px;
                font-size: 20px;
                text-align: center;
                background: linear-gradient(transparent 40%, #00000048 10%);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow-x: hidden;
            }
        }
    }

    .article-bg {
        background-color: rgba(0, 0, 0, 0.224);
        width: 100vw;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 100;

        .article-detail {
            background-color: antiquewhite;
            width: 90vw;
            height: 80vh;
            padding: 20px;
            display: flex;
            flex-flow: column;
            align-items: center;

            .article-thumbnail {
                object-fit: cover;
                width: 500px;
                max-width: 80vw;
                height: 400px;
            }

            .article-title {
                font-size: 30px;
                text-align: center;
            }

            .article-content {
                white-space: pre-line;
            }

        }
    }
}

.hidden {
    display: none;
}

.bg {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: pink;
}

.copyright {
    color: white;
    position: relative;
    top: 20px;
}